.place-box {
    border: 3px solid rgba(130, 127, 127, 0.5);
    box-sizing: border-box;
    box-shadow: 10px 10px 10px 10px rgba(30, 28, 28, 0.5);
    margin: 100px 70px;
    height: 100%;
    border-radius: 30px;
    display: block;
}

.place-box .heading {
    height: 350px;
    width: 100%;
    padding: 20px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.place-box .heading .place-pic {
    padding: 10px 30px;
}

.place-box .heading .place-pic img {
    height: 300px;
    width: 450px;
    border-radius: 30px;
}

.place-box .heading .details {
    padding: 30px 40px;
    text-align: left;
}

.place-box .heading .details h2 {
    position: relative;
    font-size: 30px;
}

.place-box .heading .details i {
    color: #fac102;
    font-size: 23px;
}

.place-box .heading .details p,
a {
    font-size: 23px;
    margin-top: 20px;
    color: black;
}

.place-box .heading .details .rating {
    margin-top: 4px;
}

.place-box .heading .details .book-button {
    margin-top: 10px;
}

.place-box .info {
    margin: 10px 30px;
}

.place-box .info h3 {
    font-size: 30px;
}

.place-box .info p {
    font-size: 20px;
}

.modal-bg {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibilty 0s, opacity 0.5s;
}

.bg-active {
    visibility: visible;
    opacity: 1;
}

.modal-bg .review-submit {
    position: relative;
    background-color: #fff;
    height: 50%;
    width: 40%;
    align-items: center;
    margin: 0;
    padding: 0;
}

.modal-bg .review-submit span {
    position: absolute;
    display: flex;
    top: 0px;
    right: 0px;
    font-size: 20px;
    width: 60px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.modal-bg .review-submit span:hover {
    background-color: rgba(255, 0, 0, 0.734);
    color: #fff;
}

.modal-bg .review-submit h2 {
    text-align: center;
    font-size: 25px; 
    font-weight: bold;
    margin-top: 10px;
}

.modal-bg .review-submit form {
    padding: 20px 30px;
}

.modal-bg .review-submit label {
    font-size: 18px;
    margin-top: 5px;
    text-transform: none;
}

.modal-bg .review-submit select {
    border: 1px solid rgba(25, 19, 19, 0.764);
    border-radius: 10px;
    padding: 5px;
    font-size: 15px;
    text-transform: none;
    cursor: pointer;
}

.modal-bg .review-submit textarea {
    border: 3px solid rgba(25, 19, 19, 0.764);
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px;
    font-size: 15px;
    text-transform: none;
}

.place-box .review {
    margin-top: 20px;
    border-top: 2px solid rgba(28, 27, 27, 0.5);
    padding: 20px;
}

.place-box .review h3 {
    font-size: 30px;
}

.place-box .review .content {
    margin-left: 20px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    padding: 10px;
}

.place-box .review .content img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    float: left;
}

.place-box .review .content h5 {
    float: left;
    margin-left: 20px;
    margin-top: 5px;
    font-size: 15px;
 }

.place-box .review .content p {
    margin-top: 10px;
    font-size: 12px;
 }

.place-box .button {
  padding: 5px;
}
.btn1 {
    background-color: #fac102;
  color: white;
  width: 150px;
  height: 40px;
  font-size: 20px;
  border:none;
  border-radius: 15px;
  cursor: pointer;
  padding-top: 7px;
  margin-left: 5px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.btn1:active,
.btn1:focus {
  background: none;
  color: #fac102;
  border: 2px solid #fac102;
  padding-top: 5px;
}

.place-box .Hotelbox{
    font-size: 15px;
    padding: 4rem;
    margin: 30px 30px;
    height: 100%;
    
}
.Hotelbox .box-container {
    display: flex;
    flex-wrap: nowrap;
    padding: auto;
    font-size: 15px;

}
.Hotelbox .box-container .box{
    border: 3px solid rgba(130, 127, 127, 0.5);
    box-shadow: 1px 7px 7px rgba(30, 28, 28, 0.5);
    padding: 3rem;
    margin:2rem;
    border-radius: 30px;
    width:33%;

}

.Hotelbox .box-container .box .content{
    max-width: 100%;
        max-height: 100%;
        display: block;
}


.Hotelbox .box-container .box .content .image img{
       max-width: 100%;
        max-height: 100%;
        display: block;
}

.Hotelbox .box-container .box .stars{
    color: #fac102;
}