.Heading{
  position: relative;
}
.place-box1 {
    height: 100%;
    margin: 7px 200px 15px 200px;
    margin-bottom: 5rem;
    border-radius: 25px;
    padding: 3px 3px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 7px 7px 7px 7px #1e1e1ea0;
  }

  .place-box1:hover {
    box-shadow:7px 7px 7px 7px #033747e3;
  }

  .place-box1 .place-pic {
    width: 340px;
    height: 100%;
    float: left;
  }

  .place-box1 .place-pic img {
    width: 330px;
    height: 250px;
    border-radius: 20px 0px 0px 20px;
  }

  .place-box1 .place-details { 
    float: left;
    height: 100%;
    display: block;
  }

  .place-box1 .place-details .detail {
    margin-top: 3rem;
    height: 180px;
    overflow: hidden;
  }

  .place-box1 .place-details .detail i {
    color: #fac102;
  }

  .place-box1 .place-details .detail h2 {
    font-size: 25px;
  }

  .place-box1 .place-details .detail p {
    font-size: 18px;
  }

  .place-box1 .place-details .rating{
    margin-top: 4px;
  }

  .place-box1 .place-details .rating p{
    font-size:20px;
  }

  .place-box1 .place-details .rating .stars i{
    font-size:1.7rem;
    color:var(--orange);
  }

  .place-box1 .button-holder {
    display:grid;
    grid-template-columns: 3fr 10fr;
    margin-bottom: 3rem;
  }

  .place-box1 .button-holder .button {
    padding: 5px;
  }

  .place-box1 .button-holder .button a {
    color: #fff;
    display: inline-block;
    text-align: center;
    text-decoration: none;
  }

  .place-box1 .button-holder .button .place-btn {
    background-color: #fac102;
    width: 150px;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 7px;
    margin-left: 5px;
  }

  .place-box1 .button-holder .button .place-btn:hover {
    background: none;
    color: #fac102;
    border: 2px solid #fac102;
    padding-top: 5px;
    
  }

  .place-box1 .place-details .rating{
    color: #fac102;
    font-size: large;
  }
  